body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



/*-------------------Navbar-------------------*/



.text_ {
    font-size: 19px;
}

.nav_mar {
    margin-right: 15px;
}

.a_padding {
    padding-left: 10px;
    padding-right: 10px;
}

.nav_padding {
    padding: 0;
}

.div_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
    height: 50px;
}

.button_search {
    border: 1px solid gray;
    border-radius: 3px;
    color: gray;
    padding: 5px 70px 5px 20px;
}

.chapters {
    display: flex;
}

.chapters_product {
    margin: 0px 12px 0px;
}

.description {
    text-align: center;
    background-color: rgb(243, 243, 243);
    border-top: 1px solid rgb(223, 223, 223);
    border-bottom: 1px solid rgb(223, 223, 223);
}

.silka {
    color: black;
}

.popitka_1 {
    display: flex;
    height: 70px;
    align-items: center;
    margin: 0px 12px 0px;
}

.margin_auto {
    margin: auto;
    display: flex;
}

.nav_kids {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}



/*-------------------Section-------------------*/



.nike_kids {
    width: 100%;
    position: relative;
}



h1 {
    font-weight: 900;
}

.shop_button {
    text-decoration: none;
    color: white;

    border: 1px solid black;
    border-radius: 18px;
    background-color: black;

    padding: 8px 15px 8px;
}

.prosto_nyzen {
    margin-bottom: 10px;
}

.card_relative {
    position: relative;
}

.logo_panther {
    position: absolute;
    bottom: 20%;
    left: 3%;
}

.button_panther {
    color: white;
    background-color: black;
    text-decoration: none;

    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px 5px;

    position: absolute;
    bottom: 11%;
    left: 3%;
}

.logo_discription {
    position: absolute;
    bottom: 15%;
    left: 3%;
}

h4 {
    font-weight: 600;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}



/*-------------------Shoes-------------------*/



.shoes_1 {
    margin-bottom: 0px;
    font-size: 12px;
    color: rgb(105, 105, 105);
}

h6 {
    margin-bottom: 0px;
}

.shoes_card {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 30px;
}

.text_shoes {
    font-size: 12px;
    margin-bottom: 0px;
}

.text_shoes_small {
    font-size: 10px;
}

.logo_panther_1 {
    position: absolute;
    bottom: 13%;
    left: 3%;
}

.button_panther_1 {
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 12px;

    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 15px 3px;

    position: absolute;
    bottom: 5%;
    left: 3%;
}

.logo_discription_1 {
    position: absolute;
    bottom: 8%;
    left: 3%;
}